.header, .titles-product_position, .buy-button_position, .content, .addition-inform-item, .footer-logo, .form-footer {
  display: flex;
  flex-direction: column; }

.menu, .nav-menu, .nav, .nav-item_position, .nav-item-down-img-position, .adding-nav-icon, .slidebar_content-align, .slider-navigation, .product, .product-items, .addition-inform, .footer, .form {
  display: flex;
  flex-direction: row; }

body {
  margin: 0%; }

.menu {
  justify-content: space-between;
  height: 80px;
  width: 100%;
  background-color: white; }

.logo {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 40pt;
  font-weight: 800; }

.logo_color {
  color: white; }

.logo-container_view {
  width: 250px;
  height: 80px;
  background-color: #fe5a1a; }

.logo-text_position {
  margin: 0%;
  display: flex;
  justify-content: center;
  align-items: center; }

.logo-link {
  text-decoration: none; }
  .logo-link:focus-within {
    text-decoration: none;
    text-decoration-line: none; }
  .logo-link:focus {
    text-decoration: none;
    text-decoration-line: none; }
  .logo-link:hover {
    text-decoration: none;
    text-decoration-line: none; }

.nav-menu {
  height: 80px;
  justify-content: center;
  align-items: center; }

.nav {
  justify-content: center;
  align-items: center; }

.nav-item {
  list-style-type: none; }

.nav-item_view {
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif;
  cursor: pointer;
  font-weight: 700; }

.nav-item_position {
  margin-right: 35px; }

.nav-item_nav-color {
  color: #777777; }
  .nav-item_nav-color:hover {
    color: #161616; }
  .nav-item_nav-color:focus {
    color: #161616; }
  .nav-item_nav-color:active {
    color: #161616; }
  .nav-item_nav-color:focus-within {
    color: #161616; }

.nav-item_main-color {
  color: #fe5a1a; }
  .nav-item_main-color:hover {
    color: #161616; }
  .nav-item_main-color:focus {
    color: #161616; }
  .nav-item_main-color:active {
    color: #161616; }
  .nav-item_main-color:focus-within {
    color: #161616; }

.nav-item-down-img-color {
  color: #777777; }
  .nav-item-down-img-color:hover {
    color: #333333; }

.nav-item-down-img-position {
  justify-content: center;
  margin-left: 20px;
  margin-top: 3px; }

.adding-nav-icon {
  align-items: center;
  right: 15px; }

.nav-icon {
  height: 20px;
  width: 23px;
  margin-right: 15px;
  cursor: pointer; }

.nav-icon-color {
  color: #fe5a1a; }
  .nav-icon-color:hover {
    color: #333333; }

.slidebar {
  height: 960px;
  background-color: #aabff8;
  background-image: url(../photo/WirelessSpeaker_Bottle.png);
  background-repeat: no-repeat;
  background-position: 70% center; }

.slidebar_content-align {
  justify-content: space-between; }

.titles-product {
  font-family: 'Source Sans Pro', sans-serif;
  color: white; }

.titles-product_size {
  width: 430px;
  margin-left: 50px; }

.titles-product_position {
  justify-content: center; }

.title-name {
  font-size: 60px;
  line-height: 30px;
  margin-top: 10px;
  margin-bottom: 10px; }

.title-prise {
  font-size: 55px;
  margin-top: 10px;
  margin-bottom: 10px; }

.buy-button {
  border: 4px solid;
  border-radius: 50px;
  border-color: white;
  background-color: #aabff800;
  cursor: pointer; }

.buy-button-active {
  border-color: #333333; }

.buy-button_position {
  justify-content: center;
  align-items: center; }

.buy-button_size {
  height: 100px;
  width: 100px; }

.buy-button-img {
  font-size: 30pt;
  color: white; }

.buy-button-img-active {
  color: #333333; }

.slider-navigation {
  align-items: flex-end;
  color: white; }

.slider-navigation_size {
  width: 200px;
  margin-bottom: 80px; }

.slider-navigation-dots {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 60px;
  margin-right: 4px; }
  .slider-navigation-dots:hover {
    color: #777777; }
  .slider-navigation-dots:active {
    color: #777777; }
  .slider-navigation-dots:focus {
    color: #777777; }
  .slider-navigation-dots:focus-within {
    color: #777777; }

.button-navigation {
  margin-bottom: 5px; }

.fa-chevron-left {
  font-size: 30px; }
  .fa-chevron-left:hover {
    color: #fe5a1a; }
  .fa-chevron-left:active {
    color: #fe5a1a; }
  .fa-chevron-left:focus {
    color: #fe5a1a; }
  .fa-chevron-left:focus-within {
    color: #fe5a1a; }

.fa-chevron-right {
  font-size: 30px; }
  .fa-chevron-right:hover {
    color: #fe5a1a; }
  .fa-chevron-right:active {
    color: #fe5a1a; }
  .fa-chevron-right:focus {
    color: #fe5a1a; }
  .fa-chevron-right:focus-within {
    color: #fe5a1a; }

.content {
  height: 2305px; }

.product {
  flex-wrap: wrap;
  height: 960px; }

.product-title {
  margin-left: 60px;
  margin-top: 60px; }

.product-title_dark {
  color: white; }

.product-title_light {
  color: #222222; }

.product-watches {
  height: 480px;
  width: 33%; }

.product-watches_color {
  background-color: white;
  background-image: url(../photo/smart-watch.jpg);
  background-position: 90% 70%;
  background-repeat: no-repeat;
  background-size: contain; }

.product-trackers {
  height: 480px;
  width: 33%; }

.product-trackers_color {
  background-color: #26386b;
  background-image: url(../photo/tracker.png);
  background-position: 90% 70%;
  background-repeat: no-repeat;
  background-size: contain; }

.product-headphones {
  height: 480px;
  width: 66%;
  margin-top: -480px; }

.product-headphones_color {
  background-color: #3bc7f5;
  background-image: url(../photo/headphones.png);
  background-position: 90% 70%;
  background-repeat: no-repeat;
  background-size: contain; }

.product-earphones {
  height: 960px;
  width: 34%; }

.product-earphones_color {
  background-color: #ff7c2b;
  background-image: url(../photo/earphones.png);
  background-position: 90% 70%;
  background-repeat: no-repeat;
  background-size: contain; }

.product-items {
  height: 960px;
  flex-wrap: wrap; }

.product-item {
  height: 480px;
  width: 25%; }

.item-not-even {
  background-color: #f9f9f9; }

.item-even {
  background-color: #eeeeee; }

.item-img {
  background-image: url(../photo/earphones.png);
  background-position: 90% 70%;
  background-repeat: no-repeat;
  background-size: contain; }

.addition-inform {
  justify-content: space-between;
  height: 385px;
  background-color: #f9f9f9; }

.addition-inform-item {
  height: 385px;
  width: 33%;
  background: white;
  justify-content: center;
  align-items: center; }

.inform-item-img {
  font-size: 34px;
  color: #e7e7e7; }

.item-text {
  color: #808080;
  text-align: center; }

.inform-item-link {
  text-decoration: none;
  color: #fe5a1a; }

.footer {
  justify-content: space-between; }

.footer-color {
  background: #161616; }

.footer-size {
  height: 470px; }

.footer-item {
  height: 350px;
  margin-top: 95px;
  padding: 0%; }

.footer-logo {
  justify-content: space-between; }

.footer-nav-item {
  margin-top: 10px; }

.form-footer {
  width: 35%;
  align-items: flex-start; }

.footer-title {
  color: white; }

.footer-text {
  color: #808080; }

.footer-link {
  text-decoration: none;
  color: white; }

.form {
  width: 90%;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px; }

.form-field {
  width: 80%;
  height: 39px; }

.form-button {
  width: 20%;
  height: 45px;
  background-color: #fe5a1a;
  border-color: #fe5a1a;
  color: white;
  font-size: 12pt; }
  .form-button:hover {
    border-color: #777777;
    background-color: #777777; }
  .form-button:focus {
    border-color: #777777;
    background-color: #777777; }
  .form-button:focus-within {
    border-color: #777777;
    background-color: #777777; }
  .form-button:active {
    border-color: #777777;
    background-color: #777777; }

.button-group {
  margin-right: 10px; }

.button-circle {
  border: none;
  background: #333333;
  border-radius: 30px;
  height: 60px;
  width: 60px;
  margin-right: 10px;
  margin-top: 5px; }
  .button-circle:hover {
    background: white; }
  .button-circle:active {
    background: white; }
  .button-circle:focus {
    background: white; }
  .button-circle:focus-within {
    background: white; }
  .button-circle .button-img {
    font-size: 15pt;
    color: white;
    font-size: 20px; }
    .button-circle .button-img:hover {
      color: #fe5a1a; }
    .button-circle .button-img:active {
      color: #fe5a1a; }
    .button-circle .button-img:focus {
      color: #fe5a1a; }
    .button-circle .button-img:focus-within {
      color: #fe5a1a; }

.container-fluid {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  margin-right: 0;
  margin-left: 0; }

.row {
  width: 100%;
  margin-right: 0;
  margin-left: 0; }

.button-navigation_active {
  color: #fe5b1a; }
