body {
  margin: 0%; }

.header {
  display: flex;
  flex-direction: column; }

.logo {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 40pt;
  color: white; }

.logo_view {
  width: 250px;
  height: 80px;
  background-color: #fe5a1a; }

.logo-text_position {
  margin: 0%;
  display: flex;
  align-items: center;
  justify-content: center; }

.nav {
  marker: none;
  display: inline; }

.nav-item {
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
  color: 777777; }
