$main-color: #fe5a1a;
$footer-color:#161616;
$nav-menu-color:#777777;
$add-color:#e7e7e7;
$nav-menu-active-color: #333333;

$logo-color: white;
$nav-bacground-color: white;

$icon-color: #fe5a1a;

$header-slidebar-color: #aabff8;
$header-slidebar-color-button:#aabff800;
$title-name_color:white;
$dots-color: white;
$dots-color-active:#777777;
$arrow-color: white;
$arrow-color-active:#fe5a1a;

$product-watches-color:white;
$product-trackers-color:#26386b;
$product-headphones-color:#3bc7f5;
$product-earphones-color:#ff7c2b;
$product-title-color-dark:white;
$product-title-color-light:#222222;

$item-not-even-color:#f9f9f9;
$item-even-color:#eeeeee;

$addition-inform-color:white;
$inform-item-img-color: #e7e7e7;
$inform-item-text-color: #808080;
$button-circle:#333333;
$footer-link-color:white;

$header-color1:#eef2fe;
$header-color2:#feb70a;
$header-color3:#16161e;
$header-color4:#41d3f8;
$header-color5:#aabff8;
$header-color6:#fe5b1a;
$header-color7:#f8f8f8;
$header-color8:#cda077;
$header-color9:#bee3f3;
$header-color10:#eeeeee;
$header-color11:#75dab8;
$header-color12:#ced1d5;


$color-light-black: #161616;
$color-light-grey:#777777;
$color-white: white;
$color-very-light-grey:#e7e7e7;
$color-orange:#fe5b1a;
$color-footer-black: #0d0d0d;