$main-color: #fe5a1a;
$footer-cilor:#222222;
$nav-menu-color:#777777;
$add-color:#e7e7e7;
$logo-color: white;
$nav-bacground-color: white;

%flex-column{
    display: flex;
    flex-direction: column;
}
%flex-row{
    display: flex;
    flex-direction: row;
}

// Starting body
body{
    margin: 0%;
}
// finishing body

// starting header
.header{
    @extend %flex-column;
}
// Srarting menu
.menu{
    @extend %flex-row;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    background-color: $nav-bacground-color;
}

// starting logo
.logo{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 40pt;
    font-weight: 800;
}
.logo_color{
    color: $logo-color;
}
.logo-container_view{
    width: 250px;
    height: 80px;
    background-color: $main-color;
}
.logo-text_position{
    margin: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-link{
    text-decoration: none;
}
// fihishing logo

// starting menu
.nav-menu{
    height: 80px;
    @extend %flex-row;
    justify-content: center;
    align-items: center;
}

.nav{
    @extend %flex-row;
    justify-content: center;
    align-items: center;
}
.nav-item{
    list-style-type: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

.nav-item_position{
    @extend %flex-row;
    margin-right: 35px;
}
.nav-item_nav-color{
    color: $nav-menu-color;
}
.nav-item_nav-color:active{
    color: $footer-cilor;
}
.nav-item_nav-color:focus{
    color: $footer-cilor;
}
.nav-item_nav-color:hover{
    color: $footer-cilor;
}
.nav-item_nav-color:focus-within{
    color: $footer-cilor;
}
.nav-item_main-color{
    color: $main-color;
}
.nav-item_main-color:active{
    color: $footer-cilor;
}
.nav-item_main-color:focus{
    color: $footer-cilor;
}
.nav-item_main-color:focus-within{
    color: $footer-cilor;
}
.nav-item_main-color:hover{
    color: $footer-cilor;
}

// startind button down added menu
.nav-item-down-img-size{
    width: 10px;
    height: 10px;
}
.nav-item-down-img-position{
    @extend %flex-row;
    justify-content: center;
    margin-left: 20px;
    margin-top: 5px;
}
.nav-item-down-img {
    background-image: url(../photo/iconsDown.png);
}

.nav-item-down-img:active {
    background-image: url(../photo/iconsDownActive.png);
}

.nav-item-down-img:hover {
    background-image: url(../photo/iconsDownActive.png);
}

.nav-item-down-img:focus-within {
    background-image: url(../photo/iconsDownActive.png);
}

.nav-item-down-img:focus {
    background-image: url(../photo/iconsDownActive.png);
    border: $main-color;
}

// FInishing menu
// Starting nav icons
.adding-nav-icon{
    @extend %flex-row;
    align-items: center;
    right: 15px;
}
.nav-icon{
    height: 25px;
    width: 25px;
    margin-right: 15px;

}
.icon-search{
    background: url(../photo/icons-search-red.png);
}
.icon-pearson{
    background: url(../photo/icons-person-red.png);
}
.icon-basket{
    background: url(../photo/icons-basket-red.png);
}
.icon-settings{
    background: url(../photo/icons-settings-light-gray.png);
}
// finishing nav icons



// Fihishing header
.content{

}
.product{

}
.addition-inform{

}
.footer{

}