
@import "colors.scss";
.menu{
    background-color: $color-orange;
}
.nav-item_nav-color{
    color: $color-white;
}
.nav-item-down-img-color{
    color: $color-white;
}
.nav-icon-color{
    color: $color-white;
}
.slidebar_content-align{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

.slidebar-title{
    height: 960px;
    color: $color-white;
}
.slidebar-navigation{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
}
.titles-product_position{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
.fa-chevron-left{
    margin-left: 15px;
}
.fa-chevron-right{
    margin-right: 15px;
}

.slider-navigation_size{
    margin-top: -320px;
    margin-left: 50px;
}
.slidebar{
    background-color: $header-color2;
    background-image: none;
}

